<h1 style="text-align: center;">Routing App</h1>
<div style="text-align:center; margin-bottom: 20px;">
<a routerLink="/personal" routerLinkActive="active-link" style="margin: 0
10px; text-decoration: underline; cursor: pointer;">Personal Details</a>
<a routerLink="/academic" routerLinkActive="active-link" style="margin: 0
10px; text-decoration: underline; cursor: pointer;">Academic Details</a>
<a routerLink="/future" routerLinkActive="active-link" style="margin: 0
10px; text-decoration: underline; cursor: pointer;">Future Goals</a>
</div>
<router-outlet></router-outlet>